code/utils/__pycache__/*
BaseModels/chatglm-6b/*
wandb/*
output/*
BaseModels/__pycache__/*
datas/delicate_medical_r1_data/*
datas/ShenNong_TCM_Dataset/*
BaseModels/._____temp/Qwen/Qwen3-1.7B/*
BaseModels/Qwen/Qwen3-1___7B/*
BaseModels/Qwen/Qwen3-1.7B
BaseModels/._____temp/Qwen/Qwen3-8B/*
BaseModels/Qwen/Qwen3-8B/*
models/ChatGLM6B/templates/*
models/ChatGLM6B/utils/__pycache__/*
